


body{


    font-family: 'open sans';
}
nav{

display: flex;
justify-content: space-around;
align-items: center;
font-size: 20px;



}

.nav-title{

font-size: 40px;

}

ul{

display: flex;
justify-content: space-between;
align-items: center;

}

a{
text-decoration: none;

justify-content: space-between;

}

li{

list-style-type: none;
justify-content: space-around;
margin:0 200px;

}

.btn-primary{

padding:15px 34px;
font-size: 20px;
background-color: #FD6E0A;
border-radius: 5px;
font-weight: 700;
border:0;
cursor:pointer;



}

header{

background-image: url('../images/header_bg.png'),url('../images/developer.png');
background-repeat: no-repeat;
background-position: bottom right, top left;


}
.span{

color:orange;

}

.banner{

margin-top: 200px;
margin-left: 130px;
display: flex;
justify-content: space-around;



}

.banner-greeting{

font-size: 40px;
font-weight: 500;
margin-bottom: 0px;

}

.banner-desc{

font-size: 25px;


}

.banner-title{
margin-bottom: 8px;
margin-top: 2px;
margin-left: 1px;
font-size: 85px;
font-weight: 700;
font-style: normal;

}

.about{

padding:130px;
margin-top:300px;
background-color: #FFF8F3;


}

.section-title{

text-align: center;
font-size: 40px;
font-weight: 700;


}

.section-desc{

text-align: center;
font-size: 20px;

}
.info-container{

display: flex;
justify-content: space-around;
font-size: 25px;
padding: 10px;


}

.what-I-do{

    padding:130px;
    margin-top:300px;
    background-color: #FFF8F3;
    

}

.skills-container{

display: flex;
justify-content: space-around;



}
.resume{

margin-top: 130px;

}
.resume-container{

display:flex;
justify-content: space-around;



}

 .download-cv{

text-align: center;
margin-top: 130px;


 }   




h6{
font-size: 1.4rem;
font-weight: 700;


}

footer{

display:flex;
justify-content: space-around;
margin-top: 330px;
background-color: #FFF8F3;



}
.footer-column{

    width:50%;
    
    
    }
    
    .contact input , textarea{
    
    display: block;
    margin-bottom: 25px;
    padding:18px 35px;
    color:#757575;
    background-color: #FFF;
    border-radius: 5px;
    border:0;
    width:100%;
    
    
    }
    
    .social-links  a{
    
    margin-right: 25px;
    
    
    }
    
    